{% extends 'base.html.twig' %}

{% block title %}S'inscrire en tant que Participant{% endblock %}

{% block body %}
    <h1>Créer son compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <a href="{{ path('sInscrire') }}" class="btn">S'inscrire</a>
    {{ form_end(registrationForm) }}
{% endblock %}
