{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Afficher une sortie</h1>

<div class="jolie">
    <table class="info-table">
        <tr>
            <td>Nom de la sortie :</td>
            <td>{{ sortie.getNom() }}</td>
            <td>Nom du campus :</td>
            <td>{{ sortie.getCampus().getNom() }}</td>
        </tr>
        <tr>
            <td>Date et heure de la sortie :</td>
            <td>{{ sortie.getDateHeureDebut()|date("Y-m-d H:i:s") }}</td>
            <td>Lieu :</td>
            <td>{{ sortie.getLieu().getNom() }}</td>
        </tr>
        <tr>
            <td>Date limite d'inscription :</td>
            <td>{{ sortie.getDateLimiteInscription()|date("Y-m-d") }}</td>
            <td>Ville :</td>
            <td>{{ sortie.getLieu().getVille().getNom() }}</td>
        </tr>
        <tr>
            <td>Nombre de places :</td>
            <td>{{ sortie.getNbInscriptionsMax() }}</td>
            <td>Rue :</td>
            <td>{{ sortie.getLieu().getRue() }}</td>
        </tr>
        <tr>
            <td>Durée :</td>
            <td>{{ sortie.getDuree() }} minutes</td>
            <td>Code postal :</td>
            <td>{{ sortie.getLieu().getVille.getCodePostal() }}</td>
        </tr>
        <tr>
            <td>Description et infos :</td>
            <td>{{ sortie.getInfosSortie() }}</td>
            <td>Latitude :</td>
            <td>{{ sortie.getLieu().getLatitude() }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Longitude :</td>
            <td>{{ sortie.getLieu().getLongitude() }}</td>
        </tr>
    </table>
</div>



    <h2>Liste des participants inscrits</h2>
        {% if sortie.hasAvailableSpots %}
        <a href="{{ path('inscription_sortie', {'id': sortie.id}) }}" class="confirmation-link btn">S'inscrire</a>
        {% else %}
        <p>Plus de places disponibles</p>
        {% endif %}
    <table>
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom Complet</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.getParticipants() %}
            <tr>
                <td>{{ participant.getEmail() }}</td> {# Remplacez getEmail() par la méthode qui correspond à un pseudo unique #}
                <td>{{ participant.getPrenom() ~ ' ' ~ participant.getNom() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
