{% extends 'base.html.twig' %}
{% block javascripts %}
<script src="{{ asset('js/sortieType.js') }}"></script>
{% endblock %}
{% block extrastyles %}
    <style>
        label{
            display: block;
        }
        input, textarea, select{
            width: 150px;
            max-width: 50%;
            border-radius: 6px;
            border-color: dimgrey;
            margin-bottom: 4px;
        }
        input#sortie_dateHeureDebut_time {

            width: 100px; /* Ajustez la largeur en fonction de vos besoins */
            border-radius: 6px;
            border-color: dimgrey;
            margin-bottom: 4px;
            display: inline-block; /* Cela permettra de les aligner horizontalement */
        }
        .duree-input{
            width: 80px;
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_errors(sortieForm) }}

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }} {# afficher tout mes champs d'un coup #}

    <button type="submit" id="save" class="btn">Enregistrer</button>
    <button type="submit" id="share" class="btn">Publier la Sortie</button>
    <a href="{{ path('main_home') }}" class="btn" id="cancel">Annuler</a>
    {{ form_end(sortieForm) }}
{% endblock %}
{% block title %}
    Creer une Sortie
{% endblock %}